@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montserrat');@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


* {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    height: auto;
    padding: 20px;
    margin: 30px auto auto auto;
    -webkit-box-shadow: 1px 2px 3px 4px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 2px 3px 4px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 2px 5px 4px rgba(3, 51, 51, 0.05);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.persons {
    width: 50%;
    text-align: center;
}

h2 {
    font-weight: normal
}


.loss {
    color: red
}

.win {
    color: green
}

.life-bar {
    height: 30px;
    width: 80%;
    margin: 0 auto;
    background-color: transparent;
    border: 1px solid #dedede;
}

.life {
    height: 100%;
    background-color: green;
}

.life-danger {
    height: 100%;
    background-color: red;
}

.btn {
    padding: 5px 10px 5px 10px;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 100;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-start-new-play {
    background-color: #545caf;
}

.btn-attack {
    background-color: #BF464E;
}

.btn-heal {
    background-color: #64AD45;
}

.btn-leave {
    background-color: #C1C0C1;
    color: #333;
}

.btn-special-attack {
    background-color: #E8A446;
    color: #333;
}

ul {
    list-style: none;
    width: 100%;
    padding: 0;
    text-align: center
}

li {
    padding: 10px;
    color: white;
    margin: 10px auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.player {
    background-color: #9196CC
}

.monster {
    background-color: #DA7A84
}